  body {
    background-color: darkseagreen;
  }

  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: seagreen;
    position: relative;
    top: 10%;
    text-align: center;
    outline-style: ridge;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  #greenint {
    background-color: lightcyan;
  }
